.container{
  min-width: 100%;
}

.banner{
    background-color: rgb(106, 106, 244);

     p{
        color:  rgb(160, 160, 247);
     }

     button{
        padding: 11px 20px;
    

     }
} 

.bg-green{
        background-color: rgb(77, 201, 117);
     }


     .icon{
   background-color: rgb(255, 228, 200);
   padding: 15px;
   color:rgb(210, 147, 84);;
     }

