.card{
  height: 100%;
}

.card-title{
  font-size: 18px;
}

.containerFooterCard {
    width:100%;
    padding: 1px;
    background-color: transparent;

  .containerAvatar {
    width: 10%;

    .avatarImg {
      width: 100%;
    }
  }

  .containerAuthor {
    width: 85%;
    color: gray;

    i {
      top: 5px;
      right: 10px;
    }
  }
}

.infoCard{
  font-size: 14px;
}

.bi-star-fill, .bi-star, .bi-star-half{
  font-size: 10px;
}

.carousel-control-next-icon{
  position: absolute;
  bottom: 190px;
  right: 10px;
}
.carousel-control-prev-icon{
  position: absolute;
  bottom: 190px;
  left: 10px;
}

.prova{
  width: 45%;
}