body{
    box-sizing: border-box;
}
.body{
    background: linear-gradient(
        100deg,
        rgb(102, 199, 255),
        rgb(207, 179, 96),
        rgb(102, 199, 255),
        rgb(207, 179, 96),

    );
    background-size: 400% 400%;
    height: 100%;
    animation: gradient 7s ease-in infinite;
} 
  @keyframes gradient {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
   
}

.body1{
    background-color: rgb(149, 188, 210);
} 

nav{
    background-color: rgb(235, 233, 233);

    img{
        width: 60px;
    }

    li:hover{
      background-color: rgb(219, 214, 214);
    }
}

.container{
    margin-top: 130px;
}
.inline{
    display: inline
}

.spazio{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.img {
    object-fit: contain;
    height:60%;
}

.card{
    height: 330px;
    box-shadow: 2px 2px 7px 0px black;
    &:hover{
        transform: scale(1.1);
        z-index: 1;
    }}

.card-body{
    height: 30%;
}

.details{
    width: 46%;
    height: 100%;
    box-shadow: 2px 2px 7px 0px black;
    background-color: rgb(231, 232, 232);
}

.badge{
    right: 10px;
    top: -30px;
}

input:hover{
    border: 1px solid blue;
}

button:hover{
    transform: scale(1.1);
    border: 2px solid rgb(77, 107, 33);
}