@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@import "./partials/nav";
@import "./partials/banner";
@import "./partials/card";

body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
  background-color: white;
}

footer{
    border-top: 1px solid gray;
    max-width: 100%;
    margin-bottom: 20px;;

    p{
        margin: 10px auto;

      code{
        font-size: 17px;
      }}
   ul{
    margin:auto;
    li{
        display: inline-block;
        margin-inline: 20px;
        cursor: pointer;
    }
}
}

li{
    list-style: none;
}

.arrow{
    z-index: 2;
    top: 220px;
    left: 25px;
}

.arrow2{
    z-index: 2;
    top: 220px;
    right: 25px;
}